In [1]:
import pandas as pd

test = pd.read_csv("cars_test.csv.zip")
train = pd.read_csv("cars_train.csv.zip")

In [2]:
def processData(inX, hasGT=False):
    X = inX.copy()
    features = ['fuel','condition','year','manufacturer','drive','transmission','weather']
    if hasGT:
        features.append('price')
    X = X[features]
    X.loc[X['condition'].isnull(), 'condition'] = 'unknown' 
    X.loc[X['fuel'].isnull(), 'fuel'] = 'unknown' 
    X.loc[X['drive'].isnull(), 'drive'] = 'unknown' 
    X.loc[X['manufacturer'].isnull(), 'manufacturer'] = 'unknown' 
    X.loc[X['transmission'].isnull(), 'transmission'] = 'unknown' 
    X.loc[X['weather'].isnull(), 'weather'] = 0

    #X = X[~X['year'].isnull()]
    X.loc[X['year'].isnull(), 'year'] = 2015
    X = pd.get_dummies(X,columns=['fuel','condition','drive','manufacturer','transmission'])
    
    y = None
    if hasGT:
        y = X['price']
        X = X.drop(columns=['price'],axis=1)
    else:
        y = inX['Id']
    if 'manufacturer_mercedesbenz' in X.columns:
        X=X.drop(columns=['manufacturer_mercedesbenz'])
    return X, y

In [5]:
X_submission, submission_id =  processData(pd.read_csv('cars_test.csv.zip'))
X, y =  processData(pd.read_csv('cars_train.csv.zip'), True)

In [13]:
X

,year,weather,fuel_diesel,fuel_electric,fuel_gas,fuel_hybrid,fuel_other,fuel_unknown,condition_excellent,condition_fair,...,manufacturer_subaru,manufacturer_toyota,manufacturer_unknown,manufacturer_volkswagen,manufacturer_volvo,manufacturer_vw,transmission_automatic,transmission_manual,transmission_other,transmission_unknown
0,2006.0,56.0,0,0,1,0,0,0,1,0,...,0,0,1,0,0,0,1,0,0,0
1,2018.0,48.0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2,1997.0,45.0,0,0,1,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
3,2003.0,67.0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
4,2000.0,65.0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
469987,2005.0,50.0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
469988,2016.0,48.0,0,0,1,0,0,0,1,0,...,0,0,0,0,0,0,1,0,0,0
469989,2016.0,61.0,1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,1,0,0,0
469990,2016.0,45.0,0,0,1,0,0,0,1,0,...,0,0,0,0,0,0,1,0,0,0
469991,2013.0,45.0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0

In [11]:
X_submission

,year,weather,fuel_diesel,fuel_electric,fuel_gas,fuel_hybrid,fuel_other,fuel_unknown,condition_excellent,condition_fair,...,manufacturer_subaru,manufacturer_toyota,manufacturer_unknown,manufacturer_volkswagen,manufacturer_volvo,manufacturer_vw,transmission_automatic,transmission_manual,transmission_other,transmission_unknown
0,2006.0,43.0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,1987.0,52.0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2,2010.0,59.0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
3,2003.0,67.0,0,0,1,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
4,2006.0,65.0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
253068,2012.0,56.0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0
253069,2012.0,45.0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
253070,1966.0,50.0,0,0,1,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
253071,1994.0,59.0,0,0,1,0,0,0,0,0,...,0,1,0,0,0,0,1,0,0,0
253072,2002.0,59.0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0

In [7]:
submission_id

0          974298
1         1051884
2          684464
3         1255387
4         1195520
           ...
253068      53108
253069    1541257
253070     585898
253071    1076549
253072     662527
Name: Id, Length: 253073, dtype: int64

In [8]:
X_submission

,year,weather,fuel_diesel,fuel_electric,fuel_gas,fuel_hybrid,fuel_other,fuel_unknown,condition_excellent,condition_fair,...,manufacturer_subaru,manufacturer_toyota,manufacturer_unknown,manufacturer_volkswagen,manufacturer_volvo,manufacturer_vw,transmission_automatic,transmission_manual,transmission_other,transmission_unknown
0,2006.0,43.0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,1987.0,52.0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2,2010.0,59.0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
3,2003.0,67.0,0,0,1,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
4,2006.0,65.0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
253068,2012.0,56.0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0
253069,2012.0,45.0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
253070,1966.0,50.0,0,0,1,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
253071,1994.0,59.0,0,0,1,0,0,0,0,0,...,0,1,0,0,0,0,1,0,0,0
253072,2002.0,59.0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0